    body{ background: black;
     color:white;
      } 
       
      .paragraphs{
          transition:2s ease ;
          text-align: center;
          border: outset;
          margin-left:400px;
          margin-right:400px;
          
      }
       
       .paragraphs:hover{
           color:red;
           
       }
       
            
        .bold {
            transition:2s ease;
            margin-left:400px;
            margin-right:400px;
        }
        
        .bold:hover{
            color:red;
            font-size:30px;
            border: dotted;
        
        
        .football {
            width: 300px;
            margin-left:100px;
        }
        
        .shasta {
            width: 300px;
            margin-right: 100px;
        }